html{
    box-sizing: border-box;
}
*,*:before,*:after{
    box-sizing: inherit;
}
body{ 
    margin: 0; padding: 0; 
}
.bg{
    background-color: rgb(228, 121, 238);
    width: 1280px;
    height: 880px;
    padding: 36px 160px 35px;
    margin-left: auto;
    margin-right: auto;

}