html{
    box-sizing: border-box;
}
*,*:before,*:after{
    box-sizing: inherit;
}
body{ 
    margin: 0; padding: 0; 
}
.bg{
    background-color: rgba(228, 121, 238, 0.733);
    width: 1280px;
    height: 1570px;
    padding: 36px 0px;
    margin-left: auto;
    margin-right: auto;

}
.header{
    height: 630px;
    width: 1280px;

}
.title_container{
    
    display: flex;
    height: 100px;
    width: 1280px;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(192, 37, 231, 0.705);
}

.main_title{
    padding: 0; 
    height: 62px;
    font-family: Arial;
    font-size: 50px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
    /* background-color: rgba(192, 37, 231, 0.705); */

}

.nav_box{  
   
    height: 100px;
    width: 600px;
    /* background-color:#ec0fb5; */
    border-radius: 5px;
    
    }
.nav_list{
    margin:0;
    padding: 0; 
    display: flex;
   justify-content: space-around;
   align-content: space-around;

    }
.nav_item{
    list-style: none;
    /* margin: 10px 0px 0px 0px; */
}
.nav_link{
    font-family: Arial;
    font-size: 23px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    text-align:center;
    line-height:100px;
    
    color:#edf2c5;
    /* margin-right: 30px; */
   
}  
.main_picture{
    width: 1280px;
    height: 530px;
}
.mid_container{
    width: 1280px;
    height: 543px;
   

}
.hots_line{
    height: 1px;
    width: 440px;
    background-color: rgba(192, 37, 231, 0.705);
    margin: auto;
}
.hots_title{
    padding: 0; 
    margin-top:55px;
    margin-bottom: 0;
    height: 42px;
    font-family: Arial;
    font-size: 26px;
    line-height: 42px;
    /* font-weight: 900; */
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
}
.hots_container{
    display: flex;
    align-content: flex-end;
    justify-content: space-around;
}
.mid_box{
    width:327px;
    height:339px;

}
.midbox_img{
    
    max-width: 327px;
    max-height: 191px;
}
.min_article{
    padding: 20px 20px;
    text-align: center;

}


.bottom_container{
    width: 1280px;
    height: 543px;

}
.news_line{
    height: 1px;
    width: 440px;
    background-color: rgba(192, 37, 231, 0.705);
    margin: auto;
}
.news_title{
    padding: 0; 
    margin-top:55px;
    margin-bottom: 0;
    height: 42px;
    font-family: Arial;
    font-size: 26px;
    line-height: 42px;
    /* font-weight: 900; */
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
}
.news_container{
    display: flex;
    align-content: flex-end;
    justify-content: space-around;
}
.bottom_box{
    width:327px;
    height:339px;

}
.bottombox_img{
    
    max-width: 327px;
    max-height: 191px;
}
.bottom_article{
    padding: 20px 20px;
    text-align: center;

}


.footer{ 
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1280px;
    height: 60px;
    padding: 23px 0px;
    background-color: #ec0fb5;
    margin-left: auto;
    margin-right: auto;
}   
.footer_content{
    padding: 0px;
    height: 14px;
    font-family: Arial;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    text-align: left;
    color: #edf2c5;
}