html{
    box-sizing: border-box;
}
*,*:before,*:after{
    box-sizing: inherit;
}
body{ 
    margin: 0; padding: 0; 
}
.bg{
    background-color: rgba(228, 121, 238, 0.082);
    width: 1280px;
    height: auto;
    padding: 0px 0px;
    margin-left: auto;
    margin-right: auto;
    
}
.header{
    
    height:130px;
    width: auto;

}
.title_container{
    /* margin-top: -130px; */
    display: flex;
    height: 130px;
    width: 1280px;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(92, 45, 156, 1);
    position:fixed;
    border-radius: 80px 30px;
    flex-wrap: wrap;
}

.main_title{
    padding: 0; 
    height: 62px;
    font-family: Arial;
    font-size: 50px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    text-align: left;
    color: #000000;
    /* background-color: rgba(192, 37, 231, 0.705); */

}
.logo_picture{
   margin-left: 50px;
 
}
.nav_box{  
   
    height: 130px;
    width: 620px;
    margin-right: 20px;
    }
.nav_list{
    margin:0;
    padding: 0; 
    display: flex;
   /* justify-content: space-around; */
   align-content: space-around;

    }
.nav_item{
    list-style: none;
    /* margin: 10px 0px 0px 0px; */
}
.nav_item:hover{
    background-color: rgba(192, 37, 231, 0.705);
    
    /* margin: 10px 0px 0px 0px; */
}
.nav_link{
    font-family: Arial;
    font-size: 25px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    text-align:center;
    line-height:130px;
    color:#ffffff;
    margin: 0 15px;
    text-decoration:none
   
}  
.nav_link_now{
    font-family: Arial;
    font-size: 25px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    text-align:center;
    line-height:130px;
    color:#ffffff;
    /* margin-right: 30px; */
    margin: 0 15px;
}  
.main_picture{
    /* margin-top: 130px; */
    margin-bottom: 50px;
    width: 1280px;
    height:350px;
    overflow: hidden;
    
}



.content_title_line{
    height: 5px;
    width: 440px;
    background-color: rgba(192, 37, 231, 0.705);
    margin: auto;
    margin-bottom: 50px;
}
.content_title_title{
    padding: 0; 
    margin-top:3px;
    margin-bottom: 10px;
    height: 48px;
    font-family: Arial;
    font-size: 48px;
    line-height: 48px;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    text-align: center;
    color: #000000;
}
.forasidebar{
    display: flex;
    height: 2850px;

}
.content_container{
    display: flex;
    flex-wrap: wrap;

}
.aside_bar{
    width: 260px;
    height: 620px;
    margin-left:40px ;
    margin-right: 60px;
    border: solid rgba(192, 37, 231, 0.705) 5px;
    background-color: rgb(255, 255, 255);
    position: sticky;
    top:140px;
    border-radius: 20px;
   
    
  
}
.toc_list{
    padding-left: 26px;
}
/* .aside_bar_fake{
    width: 260px;
    height: 800px;
    margin-left:40px ;
    margin-right: 60px;
    border: solid rgba(192, 37, 231, 0.705) 5px;
    background-color: rgba(228, 121, 238, 0.082);
    position: sticky;
} */
.toc_title{
    font-family: Arial;
    font-size: 28px;
    line-height: 1px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    text-align: center;
    color: #000000;
}
.toclevel{
    list-style: none;
    font-family: Arial;
    font-size: 28px;
    line-height: 30px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    text-align: start;
    color: #000000;
}
.toclevel>a:link{
    color: #000000;
}
.toclevel>a:visited{
    color: rgba(92, 45, 156, 1);
}
.toclevel>a:hover{
    font-weight: bold;
}
.toclevel>a:active{
    color: rgba(192, 37, 231, 0.705);
}
.toclevel-1{
    list-style: none;
    font-family: Arial;
    font-size: 20px;
    line-height: 30px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    text-align: start;
    color: #000000;
}
.toclevel-1>a:link{
    color: #000000;
}
.toclevel-1>a:visited{
    color: rgba(92, 45, 156, 1);
}
.toclevel-1>a:hover{
    font-weight: bold;
}
.toclevel-1>a:active{
    color: rgba(192, 37, 231, 0.705);
}

.article_container{
    width: 860px;
}
.mid_title{
    list-style: none;
    font-family: Arial;
    font-size: 48px;
    line-height: 48px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    text-align: start;
    color: #000000;
    padding-bottom: 5px;
    border-bottom: solid 2px rgba(192, 37, 231, 0.705);
    margin: 0;

}
.small_title{
    list-style: none;
    font-family: Arial;
    font-size: 28px;
    line-height: 28px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    text-align: start;
    color: #000000;
    margin: 20px 0;
}
.article{
    list-style: none;
    font-family: Arial;
    font-size: 20px;
    line-height: 30px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    text-align: start;
    color: #000000;
    padding-right: 0px;

}


.footer{ 
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 1280px;
    height: 100px;
    padding: 20px 0px;
    background-color: rgba(92, 45, 156, 1);
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px 20px 0 0;
}   
.school_icon{
    margin-left: 50px;
}
.logo_picture_bottom{
    /* justify-self: flex-end; */
    margin-left: 50px;
    margin-top: 10px;
    padding-right: 200px;
    
}
.footer_content{
    justify-self: flex-end;
    padding: 0px;
    /* height: 14px; */
    font-family: Arial;
    font-size: 12px;
    line-height: 20px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
    
}
.icon{
    padding-top: 40px;
    display: flex;
    justify-content: space-around;
    width: 150px;
    margin-right: 50px;

}